@import "tailwindcss";

:root {
    --background: #171717;
    --foreground: #fff;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --animate-startup: startup 0.5s ease-in;

    @keyframes startup {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.bg-menu {
    background-image: url("/menu-bg.png");
}

.bg-bedroom {
    background-image: url("/bedroom-placeholder.jpg");
}

.bg-pc {
    background-image: url("/pc-bg.gif");
}

.vintage-scrollbar::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

.vintage-scrollbar::-webkit-scrollbar-track {
    background: #e0e0e0;
    border: 1px solid #808080;
    box-shadow:
        inset -1px -1px 0 #ffffff,
        inset 1px 1px 0 #404040;
}

.vintage-scrollbar::-webkit-scrollbar-thumb {
    background: #c0c0c2;
    border: 1px solid #000000;
    box-shadow:
        inset -1px -1px 0 #ffffff,
        inset 1px 1px 0 #808080;
}

.vintage-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.vintage-scrollbar::-webkit-scrollbar-corner {
    background: #c0c0c0;
}
